<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>igScrambler</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1072523115860-pi871022ohoipedb2i6ugbgml7ak82r4.apps.googleusercontent.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container">
    <h1>igScrambler</h1>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <button id="signOutButton" style="display: none;" onclick="signOut()">
        Sign out
    </button>
    
    <div id="app">
        <button id="loadButton" style="display: none;" v-on:click="loadWords">
            Load Saved Words
        </button>
        <div class="hashtagInput mb-3">
            <label for="genHashtags" class="form-label">General Hashtags</label>
            <input id="genHashtags" type="text" v-model="messageGeneral" v-on:keyup="splice($event, 1)" placeholder="General-use hashtags" class="form-control">
            <div class='hashtagDisplay'>
                <a v-for="wordIndex in splitGeneral.length" class="hashtags" :style="{ 'background-color' : colorsGeneral[(wordIndex-1)%3]}" :href="'https://www.instagram.com/explore/tags/' + splitGeneral[wordIndex-1]">
                    #{{ splitGeneral[wordIndex-1] }}
                </a>
            </div>
        </div>
        <div class="hashtagInput mb-3">
            <label for="specHashtags" class="form-label">Specific Hashtags</label>
            <input id="specHashtags" type="text" v-model="messageSpecific" v-on:keyup="splice($event, 2)" placeholder="Post-specific hashtags" class="form-control">
            <div class='hashtagDisplay'>
                <a v-for="wordIndex in splitSpecific.length" class="hashtags" :style="{ 'background-color' : colorsSpecific[(wordIndex-1)%3]}" :href="'https://www.instagram.com/explore/tags/' + splitSpecific[wordIndex-1]">
                    #{{ splitSpecific[wordIndex-1] }}
                </a>
            </div>
        </div>

        <div>
            <p><b>Number of Hashtags:</b> {{ lengthTot }}</p>
        </div>

        <button v-if="splitGeneral.length >0 || splitSpecific.length > 0" v-on:click="scramble">SCRAMBLE</button>
        <div class='hashtagDisplay'>
            <div v-if="show" v-for="word in scrambledSplit" class="hashtags">#{{ word }}</div>
        </div>
        <button v-if="show" v-on:click="copy">COPY SCRAMBLE</button>

        <button id="saveButton" style="display:none" onclick="saveHashtags();">Save</button>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-database.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyABJOM98XcFE_Wk-Z7H24AFQXNm3_ovf4g",
            authDomain: "igscramble.firebaseapp.com",
            projectId: "igscramble",
            storageBucket: "igscramble.appspot.com",
            messagingSenderId: "1072523115860",
            appId: "1:1072523115860:web:65299d76f9840b87c8dcc1",
            measurementId: "G-MS73B36M6X"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var app = new Vue({
            el: '#app',
            data: {
                messageGeneral: "",
                messageSpecific: "",
                splitGeneral: [],
                splitSpecific: [],
                lengthGeneral: 0,
                lengthSpecific: 0,
                lengthTot: 0,
                scrambledSplit: [],
                scrambledMessage: "",
                show: false,
                colorsGeneral: (["#96E8BC80", "#B6F9C980", "#C9FFE280"]).sort(() => Math.random() - 0.5),
                colorsSpecific: (["#0a369d80", "#4472ca80", "#5e7ce280"]).sort(() => Math.random() - 0.5),
            },
            methods: {
                splice: function(event, num){
                    if (num == 1){
                        console.log("hit1")
                        console.log(this.messageGeneral)
                        if (this.messageGeneral.length > 0){
                            this.splitGeneral = []
                            var splitWords = this.messageGeneral.split(' ')
                            for (var i = 0; i < splitWords.length; i++){
                                this.splitGeneral.push(splitWords[i] + ' ')
                            }
                            this.lengthGeneral = splitWords.length
                        } else {
                            this.splitGeneral = []
                            this.lengthGeneral = 0
                        }
                    } else {
                        console.log("hit2")
                        console.log(this.messageSpecific)
                        if (this.messageSpecific.length > 0){
                            this.splitSpecific = []
                            var splitWords = this.messageSpecific.split(' ')
                            for (var i = 0; i < splitWords.length; i++) {
                                this.splitSpecific.push(splitWords[i] + ' ')
                            }
                            this.lengthSpecific = splitWords.length
                        } else {
                            this.splitSpecific = []
                            this.lengthSpecific = 0
                        }
                    }
                    this.lengthTot = this.lengthGeneral+this.lengthSpecific
                    if (this.lengthTot > 0){
                        document.getElementById("saveButton").style.display = "block"
                    } else {
                        document.getElementById("saveButton").style.display = "none"
                    }
                },
                scramble: function(event){
                    this.scrambledSplit = this.splitGeneral.concat(this.splitSpecific).sort(() => Math.random() - 0.5)
                    this.scrambledMessage = "#" + this.scrambledSplit.join("#")
                    this.show = true
                },
                copy: function(event){
                    inputEle = document.createElement('input')
                    inputEle.setAttribute('value', this.scrambledMessage)
                    document.body.append(inputEle)
                    inputEle.select()
                    document.execCommand('copy')
                    inputEle.parentNode.removeChild(inputEle)
                },
                loadWords: function(event){
                    // console.log("HELLO")
                    firebase.database().ref(userId).on('value', function (snapshot) {
                        document.getElementById("genHashtags").value = snapshot.val().gen
                        document.getElementById("specHashtags").value = snapshot.val().spec
                        this.messageGeneral = snapshot.val().gen
                        this.messageSpecific = snapshot.val().spec
                        // console.log(this.messageGeneral)
                        this.splice(event, 1)
                        // console.log("hello2")
                        this.splice(event, 2)
                    })
                    // inputEle = document.createElement('input')
                    // inputEle.setAttribute('value', "HELLO")
                    // document.body.append(inputEle)
                }
            }
        })

        var signedIn = false;
        var userId;

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            userId = profile.getId()
            // console.log('Name: ' + profile.getName());
            // console.log('Image URL: ' + profile.getImageUrl());
            // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            signInRender()
            signedIn = true;
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            signOutRender()
            signedIn = false;
        }
        function saveHashtags() {
            var auth2 = gapi.auth2.getAuthInstance();
            if (auth2.isSignedIn.get()){
                let gen = document.getElementById("genHashtags").value.trim()
                let spec = document.getElementById("specHashtags").value.trim()
                console.log(gen, spec)
                firebase.database().ref(userId).set({
                    gen: gen,
                    spec: spec
                })
            } else {
                console.log("SIGN IN FIRST")
            }
        }

        // let authInit = gapi.auth2.getAuthInstance();
        if (auth2.isSignedIn.get()){
            userId = auth2.currentUser.get().getBasicProfile().getId()
            signInRender()
        }

        function signInRender(){
            document.getElementById("signOutButton").style.display = "block"
            document.getElementById("loadButton").style.display = "block"
            // document.getElementById("saveButton").style.display = "block"
        }
        function signOutRender(){
            document.getElementById("signOutButton").style.display = "none"
            document.getElementById("saveButton").style.display = "none"
            document.getElementById("loadButton").style.display = "none"
        }

        // function loadWords() {
        //     firebase.database().ref(userId).on('value', function(snapshot){
        //         document.getElementById("genHashtags").value = snapshot.val().gen
        //         document.getElementById("specHashtags").value = snapshot.val().spec
        //     })
        // }
    </script>
</body>
</html>