<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>igScrambler</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1072523115860-pi871022ohoipedb2i6ugbgml7ak82r4.apps.googleusercontent.com">
</head>
<body>
    <!-- <div id="g_id_onload" 
        data-client_id="1072523115860-pi871022ohoipedb2i6ugbgml7ak82r4.apps.googleusercontent.com" 
        data-login_uri="https://alvinzhu33.github.io/igScrambler/index.html"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin" 
        data-type="standard" 
        data-size="large" 
        data-theme="outline" 
        data-text="sign_in_with"
        data-shape="rectangular" 
        data-logo_alignment="left">
    </div> -->
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <div id="app">
        <input type="text" v-model="messageGeneral" v-on:keyup="splice($event, 1)" placeholder="General-use hashtags">
        <p v-for="word in splitGeneral">{{ word }}</p>
        <input type="text" v-model="messageSpecific" v-on:keyup="splice($event, 2)" placeholder="Post-specific hashtags">
        <p v-for="word in splitSpecific">{{ word }}</p>

        <button v-if="splitGeneral.length >0 || splitSpecific.length > 0" v-on:click="scramble">SCRAMBLE</button>
        <p v-if="show" v-for="word in scrambledSplit">{{ word }}</p>
        <button v-if="show" v-on:click="copy">COPY SCRAMBLE</button>
    </div>

    <!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                messageGeneral: "",
                messageSpecific: "",
                splitGeneral: [],
                splitSpecific: [],
                scrambledSplit: [],
                scrambledMessage: "",
                show: false
            },
            methods: {
                splice: function(event, num){
                    if (num == 1){
                        if (this.messageGeneral.length > 0){
                            this.splitGeneral = []
                            var splitWords = this.messageGeneral.split(' ')
                            for (var i = 0; i < splitWords.length; i++){
                                this.splitGeneral.push('#' + splitWords[i] + ' ')
                            }
                        } else {
                            this.splitGeneral = []
                        }
                    } else {
                        if (this.messageSpecific.length > 0){
                            this.splitSpecific = []
                            var splitWords = this.messageSpecific.split(' ')
                            for (var i = 0; i < splitWords.length; i++) {
                                this.splitSpecific.push('#' + splitWords[i] + ' ')
                            }
                        } else {
                            this.splitSpecific = []
                        }
                    }
                },
                scramble: function(event){
                    this.scrambledSplit = this.splitGeneral.concat(this.splitSpecific).sort(() => Math.random() - 0.5)
                    this.scrambledMessage = this.scrambledSplit.join("")
                    this.show = true
                },
                copy: function(event){
                    inputEle = document.createElement('input')
                    inputEle.setAttribute('value', this.scrambledMessage)
                    document.body.append(inputEle)
                    inputEle.select()
                    document.execCommand('copy')
                    inputEle.parentNode.removeChild(inputEle)
                }
            }
        })

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
    </script>
</body>
</html>